* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
button {
    padding: 0;
}

h1,
h2,
h3,
h4,
p {
    padding: 0;
    margin: 0;
}

@font-face {
  font-family: "Gilroy";
  src: url("../src/fonts/Gilroy-SemiBold.woff"), format("woff");
  font-weight: 600;
}
